
.lockbuttons input{
    background-color: red;
    display: flex;
}
.buttons input{
    text-align: center;
    height: 50px;
    margin: 10px;
}

.buttons{
    margin-top: 100px;
    display: flex;
    text-align: center;
}


.but7 input{
    background-color: red;
}
.but8 input{
    background-color: red;
}
.but9 input{
    background-color: red;
}
.but10 input{
    background-color: red;
}
.but11 input{
    background-color: red;
}
.but12 input{
    background-color: red;
}



